html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: radial-gradient(gray,black);
    user-select: none;
}

#holder{
  color: white;
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: transparent;
  left:0;
  right:0;
  top:0;
  bottom:0;
}
#flipper{
  position: absolute;
  margin: auto;
  height: 50%;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
	transform-origin: top;
	transition: all 0s ease;
	text-align: center;
  padding: 5%;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  visibility: hidden;
  background-color: teal;
  opacity: 0.5;
  box-sizing: border-box;
  box-shadow: 5px 5px 12px black;
  
}

