/*  VERICAL-PORTRAIT STYLING*/
.firstHalfVertical{
    position: absolute;
    margin: auto;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ccc;
    overflow: hidden;    
}
.secondHalfVertical{
    position: absolute;
    margin: auto;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ccc;
    overflow: hidden;
}
.firstContentVertical{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url(img/NightMountain-1.jpg) no-repeat bottom;
    background-size: contain;
    width: 95%;
    padding-top: 50%;
    overflow: hidden;    
}
.secondContentVertical{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url(img/NightMountain-2.jpg) no-repeat top;
    background-size: contain;
    width: 95%;
    padding-top: 50%; 
    overflow: hidden;   
}

.verticalFlipper{
    position: absolute;
    margin: auto;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ccc;
    overflow: hidden;
}

.verticalFlipperContent{
 
}    