body{
    background: black;
}
.title{
    margin: 0 auto;
    width: 20%;
    /*
    ("position","relative")
    ("margin"," 0 auto")            
    ("color","yellow")
    ("background-color","white")
    ("display","inline-block")
    ("text-align","center")
    */
}

.fullscreen{
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;

}
.appHolder{
    background: black;
}
.splashScreen{
    top: -2rem;
    background-color: black;
    background: url(FlashingIpod.gif) no-repeat -10%;
    background-position: center top;    
    background-size: cover;
    width: 10rem;
    padding-bottom: 15rem;
    opacity: 1;
    font-size: 2rem;    
    transition: opacity 2s ease;
}
