/*
<div id="app">
    <h1>Good Slider</h1>
    <div class="sliders">
        <div id="faceSlider" class="slider"><span id="btn">()</span></div>
        <input type="range" class="slider" id="realSlider">
    </div>
</div>
*/
#app{
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    user-select: none;
}

.sliders{
    position: relative;
    margin: auto;
    width: 75%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;    
}
.slider{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;       
}

#realSlider{
    height: 5rem;
    opacity: 0;
}
#faceSlider{
    height: 1rem;
    background: darkgray;
    border-radius: 0.75rem;
}

#btn{
    display: block;
    position: absolute;
    font-size: 9rem;
    margin-top: -5.2rem;
    color: darkgray;
    text-shadow: 0 2px 5px black;
}



