body{
    user-select: none;
}
#holder{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}


.slider{
    display: block;
    width: 15rem;
    height: 2rem;
    left: 0;
    right:0;
    margin: 0 auto;
}


#player{
    display: block;
    position: fixed;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    
}

#customVolume{
    border-radius: 1rem;
    width: 16rem;
    height: 1rem;
    left:0;
    right: 0;
    margin: 0 auto;
    background: black;
}

#realSlider{
    width: 14.5rem;
    height: 1rem;
    opacity: 0;
    outline: 1px dashed green;
    margin-top: -0.25rem;
}

#customSlider{
    position: relative;
    height: 0.3rem;
    width: 14rem;
    border-radius: 0.5rem;
    background: gray;
    box-shadow:  0.05rem 0.05rem 0.1rem lightgray;
    top: 0.33rem;


}

#customButton{
    position: absolute;
    display: inline-block;
    right: auto;
    left: 0;
    font-size: 3rem;
    margin-top: -1.76rem;
    color: #eee;
    text-shadow: 2px 2px 5px black;
}