body{
    user-select: none;
}
#holder{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid red;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
#customVolume{
    border: 1px solid green;
}

.slider{
    display: block;
    width: 15rem;
    height: 2rem;
    left: 0;
    right:0;
    margin: 0 auto;
}


#player{
    display: block;
    position: fixed;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    
}

#realSlider{
    margin-top: -2.25rem;
    width: 15rem;
    height: 3rem;
    opacity: 0.5;
}

#customSlider{
    outline: 2px solid black;
    position: relative;
}

#customButton{
    position: absolute;
    display: inline-block;
    right: auto;
    left: 0;
}