body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background: hsl(240, 50%, 97%);
	font-size: 1rem;
	line-height: 150%;
	user-select: none;
}
#wrapper{
	position: fixed;
	overflow-y: scroll;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 7%;
}
pre{
	background: #f4f4f4;
	overflow-x: scroll;
	user-select: text;
}
#endBlock{
	float: right;
}