body{
    user-select: none;
    width: 100%;
    height: 100%;
    padding:0;
    margin: 0;
    background: lightgray;
}
#app{
    font-size: 1.5rem;
    text-align: center;
    /*
    The follwing lines should
    make the app fill the screen
    and keep it from moving
    when touched or swiped
    */
    position: fixed;    
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}


#sliderDiv{
    position: fixed;
    transform: rotateZ(90deg);
    right: 0;
    left: 0;
    bottom:0;
    top:0;
    margin: auto;
    opacity: 0;
    border: 1px solid red;
}

#slider{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    margin: 0;
    outline: 1px dashed red;
    opacity: 0;
}

.notepad{
    position: fixed;
    transform-origin: top;
    padding-top: 2rem;
    height: 50%;
    width: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0.5rem;    
    box-sizing: border-box;    
}
#flipPage{
    border-top: 10px solid #444;
    background: teal;
    color: white;
}
#stripePage{
    color: black;
    background: hsl(0, 0%, 70%);
}
.line{
    line-height: 500%;
    height: 1px;
    background: lightblue;
    width: 100%;
}
table{
    width: 100%;
    height: 100%;
    font-size: 1rem;
}